{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div style="height: 310px; margin-bottom: 10px;">{{chart|safe}}</div>
            </div>
            <div class="col-xs-3 border-left border-primary">
                <div class="row">
                    <div class="col-xs-12">
                        <div style="height: 285px; margin-bottom: 10px; width: 400px;">Some text here</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div style="height: 285px; margin-bottom: 10px; width: 400px;">More text here</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>